@import '../../styles/variables';

.pokemon {
	.container {
		height: 300px;
		width: 400px;

		border-radius: 20px;

		background-color: $white;

		.pokemon-image-container {
			img {
				max-height: 60px;
				max-width: 60px;
			}
		}

		.name-container {
			font-size: 30px;
			font-weight: 700;
		}

		.types-container {
			font-weight: 700;
			padding: 10px 20px;
			background-color: $water;

			display: inline-block;
			
			border-radius: 5px;
		}
	}
}